html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.joti-one-regular {
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#header {
    background-color: #161616;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}

#left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12vh;
}

#left-nav a {
    text-decoration: none;
}

#right-nav {
    display: flex;
    align-items: center;
}

.logo-container {
    width: 60px;
    height: 60px;
    background-color: black;
    margin-left: 2vw;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-left: 2vw;
    font-family: "Joti One", serif;
    font-size: 40px;
    color: white;
}

#right-nav a {
    text-decoration: none;
    font-family: "Joti One", serif;
    font-size: 30px;
    color: white;
    margin-right: 8vw;
}

#right-nav a:hover {
    color: #929292;
    transition: 0.3s;
    cursor: pointer;
}

.user-profile:hover {
    cursor: pointer;
}

#main-title {
    margin-top: 20vh;
    margin-left: 6vw;
}

.title {
    font-family: "Joti One", serif;
    font-size: 35px;
}

#sub-main-title {
    margin-left: 6vw;
}

.sub-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.explore-btn {
    background-color: black;
    color: white;
    font-family: "Joti One", serif;
    margin-left: 6vw;
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

.explore-btn:hover{
    background-color: rgb(41, 41, 41);
    margin-left: 5vw;
    transition: 0.6s;
}

#socials {
    background-color: rgba(0, 0, 0, 0.7);
    width: 4vw;
    height: 22vh;
    float: right;
    margin-right: 2vw;
    margin-top: 12vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    color: white;
    font-size: 30px;
    margin: 8px;
}

#home{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    padding-top: 5vh;
    height: calc(100vh - 5vh);
}

#about{
    background: linear-gradient(to bottom, #F4E2D8, #D2B48C, #B2A589, #CC7752);
    height: 100vh;
}

#about-details{
    display: flex;
    justify-content: space-between;
}

#left-about{
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.founder-pic{
    width: 130px;
    height: 130px;
    border-radius: 50px;
    background-color: yellow;
    background-image: url("../images/dp.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 6vh;
    border: 4px solid black;
}

.founder-name{
    font-family: "Joti One", serif;
    font-size: 40px;
    color: black;
}

.founder-title{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: black;
}

#right-about{
    width: 60%;
    height: 100vh;
}

.about-title{
    font-family: "Joti One",serif;
    font-size: 40px;
    color: black;
    margin-top: 26vh;
    margin-left: 5vw;
    text-decoration: underline;
}

.about-description{
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    color: black;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 1vh;
}

/* Contact CSS */
#contact {
    background: linear-gradient(to bottom, #CC7752, #B2A589, #D2B48C, #F4E2D8);
    height: 100vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contact-section {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.contact-section h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #000000;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.info-btn {
    background-color: transparent;
    border: none;
    padding: 20px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    position: relative;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.info-btn:hover {
    background-color: #CC7752;
}

.arrow {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 3px;
    margin-left: 10px;
}

.up {
    transform: rotate(-135deg); 
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
}


.info-details {
    display: none;
    background-color: #CC7752;
    padding: 15px;
    border-radius: 10px;
    color: #f0f0f0;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.info-details.open {
    display: block;
}


.contact {
    padding: 10px;
    width: 90%;
    max-width: 400px;
    margin: 20px 0 0 auto; 
    text-align: right; 
}

.contact p {
    font-size: 1.2rem;
    color: #000000;
    margin: 0;
    display: flex;
    justify-content: flex-end; 
    padding-right: 50px; 
}

.contact-link {
    color: #6b270a;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.contact-link:hover {
    color: #CC7752;
    text-decoration: underline;
}

.footer {
    background: #F4E2D8;
    color: #000000;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    position: relative;
    bottom: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content h2 {
    font-family: 'Itim', cursive;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.modal-content p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #555;
}

.modal-content input[type="text"],
.modal-content input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    box-sizing: border-box;
}

.modal-content input[type="text"]::placeholder,
.modal-content input[type="email"]::placeholder {
    color: #aaa;
    font-style: italic;
}

.modal-content textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: #333;
}

.submit-btn {
    background-color: #CC7752;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #ebab8f;
}

.close {
    color: #CC7752;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #ebab8f;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #ebab8f;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 17px;
    opacity: 0; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.splash-screen{
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #141414;
    transition: 1s;
}

.splash-screen h1{
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
}

.splash-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.splash{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.splash.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.splash.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}