html{
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-image: url('../images/desktop.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.joti-one-regular {
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sidebar {
    width: 250px;
    min-height: calc(90vh - 40px);
    background-color: #ffffff6f;
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
    margin-top: 20px;
}

.sidebar li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 17px;
    margin-top: 20px;
}

.sidebar li img {
    width: 26px; 
    height: 26px; 
    margin-right: 15px; 
    vertical-align: middle; 
}

.sidebar li a {
    text-decoration: none;
    font-family: "Joti One", serif;
    font-size: 20px;
    color: inherit;
    display: flex;
    align-items: center;
}

.sidebar li:hover {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.sidebar li.active {
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.sidebar li.active a {
    color: #FFFFFF;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #ffffff6f;
    border-bottom: 1px solid #ddd;
    font-family: "Joti One", serif;
    border-radius: 10px;
    font-size: 20px;
}

.admin-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-profile img.profile-pic {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; 
}

.admin-profile p {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.main-content {
    margin-left: 300px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
}

.header-left1 {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
    font-family: "Josefin Sans", sans-serif;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px; 
    font-family: "Josefin Sans", sans-serif;
}

.search-box {
    margin-right: 10px; 
}

.search-box input {
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: #ffffff;
}

.user-wrapper {
    color: #282828;
    font-weight: bold;
    display: flex;
    align-items: center; 
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    margin-left: 10px;
}

.logout-link span {
    margin-left: 5px; 
    font-size: 20px;  
    font-family: "Joti One", serif;
}

.logout-icon {
    width: 24px;
    height: 24px;
}

.country-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
    padding: 0 20px; 
}

.country-card,
.city-card {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.country-card {
    width: 250px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff91;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    font-family: "Josefin Sans", sans-serif;
}

.city-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center; 
    padding: 20px 0; 
}

.city-card {
    width: 450px;
    box-sizing: border-box;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    background-color: #ffffffb3;
}

.country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.city-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hotel-dropdown,
.itinerary-dropdown {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 5px;
}

.hotel-item,
.itinerary-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hotel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%; 
}

.hotel-image-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hotel-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
}

.hotel-details-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
    margin-bottom: 20px; 
}

.room-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description-textarea:focus {
    border-color: #007bff;
    outline: none;
}

.country-card:hover {
    transform: scale(1.05); 
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 10px 0;
    width: 100%; 
}

.description1-textarea {
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none; 
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    font-family: "Josefin Sans", sans-serif;
    background-color: #f9f9f9; 
    white-space: pre-wrap; 
    overflow: visible; 
    height: auto; 
    min-height: 80px; 
}

.description-container label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-family: "Josefin Sans", sans-serif;
}


.fixed-textarea {
    width: 100%; 
    height: 60px; 
    resize: none; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    padding: 8px;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.D_textarea {
    width: 100%; 
    height: 50px; 
    border: 1px solid #ccc;
    margin-left: -10px;
    border-radius: 5px;
    padding: 10px;
    resize: none; 
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    font-family: "Josefin Sans", sans-serif;
}

.D_textarea:focus {
    border-color: #007bff;
    outline: none;
}


.description {
    width: 100%; 
    margin-bottom: 15px; 
}

.description label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;  
}

.description-text {
    width: 100%; 
    height: 80px; 
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding: 8px; 
    font-family: "Josefin Sans", sans-serif;
}

.hotel-item input,
.hotel-item textarea {
    padding: 8px;
    height: 38px;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.hotel-item span,
.itinerary-item span {
    text-align: left;
    padding: 5px;
}

.flight-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.flight-item input {
    padding: 5px;
    height: 38px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.flight-item span {
    text-align: left;
    padding: 5px;
}

.vehicle-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.vehicle-item input,
.vehicle-item select {
    padding: 5px;
    height: 38px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.vehicle-item span {
    text-align: left;
    padding: 5px;
}

/* Action buttons */
.action-buttons {
    display: flex;
    gap: 10px; 
    margin-top: 15px;
    font-family: "Josefin Sans", sans-serif;
}

.action-buttons button {
    flex: 1; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #22ae03;
    color: white;

}.image-btn {
    background-color: #e49814;
    color: white;
}

.edit-btn:hover{
    background-color: #84e34d;

} .image-btn:hover {
    background-color: #f2b44a;
}

.delete1-btn {
    background-color: #E53935;
    color: white;
}

.delete1-btn:hover {
    background-color: #ec6666;
}

.itinerary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.itinerary-details-container {
    flex-grow: 2; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-right: 10px;
}

.itinerary-details-container input {
    padding: 8px;
    height: 38px;
    width: 100%;
    border: 1px solid #ccc;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.image-container {
    flex-grow: 1;
    text-align: center;
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
}

.draggable-container {
    position: fixed;  
    bottom: 20px;     
    right: 20px;      
    display: flex;    
    flex-direction: column;  
    gap: 10px;        
    z-index: 1000;    
}

.draggable {
    width: 50px;               
    height: 30px;               
    padding: 5px;               
    padding-bottom: 10px;       
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: 1px solid #9a9999;  
    border-radius: 7px;        
    text-align: center;          
    color: white;                
    display: flex;               
    align-items: center;         
    justify-content: center;    
    cursor: move;               
}


/* Add Button - Country */
.add-package-btn {
    text-align: right;
    margin-top: 0px;
}
.add-package-btn button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    transition: all 0.3s ease;
    padding: 0;
    align-items: right;
}

.add-package-btn button:hover {
    background-color: #848687; 
    transform: scale(1.1); 
}

.add-country-section {
    display: flex; 
    align-items: flex-start;
    gap: 20px; 
}

/* Submit Button Country */
#addCountryForm .submit-btn-success {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Joti One", serif;
    transition: background-color 0.3s ease;
}

#addCountryForm .submit-btn-success:hover {
    background-color: #858585;
} 

/* AddCity - form */
.add-city-container {
    display: flex; 
    align-items: flex-start; 
    margin-left: 10px;
}

#addCityForm {
    width: 220px; 
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: block; 
}

.card-body {
    padding: 5px; 
}

.card-title {
    font-family: "Josefin Sans", sans-serif; 
    font-size: 18px; 
    text-align: center; 
    color: #333; 
    margin-top: 5px;
}

#addCityForm .form-group {
    display: flex;  
    align-items: center; 
}

#addCityForm .form-group label {
    flex: 0 0 80px; 
    font-weight: bold;
    margin-bottom: 0; 
    font-family: "Joti One", serif;
    font-size: 14px;
    color: #333;
}

#addCityForm .form-group input[type="text"], 
#addCityForm .form-group input[type="file"], 
#addCityForm .form-group textarea {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box;
    resize: none;
}

#addCityForm .form-group input[type="text"]:focus, 
#addCityForm .form-group input[type="file"]:focus, 
#addCityForm .form-group textarea:focus {
    border-color: #333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Submit Button City */
#addCityForm .btn-success {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Joti One", serif;
    transition: background-color 0.3s ease;
}

#addCityForm .btn-success:hover {
    background-color: #858585;
} 


.file-availability-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.view-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #000000; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.view-btn:hover {
    background-color: #a0a0a0; 
}

.card-form-container {
    width: 300px; 
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative; 
    margin-top: 20px; 
    z-index: 100; 
}

.form-title {
    font-family: "Joti One", serif;
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="text"], 
.form-group input[type="file"], 
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box;
    resize: none;
}

.form-group input[type="text"]:focus, 
.form-group input[type="file"]:focus, 
.form-group textarea:focus {
    border-color: #333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-family: "Joti One", serif;
    font-size: 14px;
    color: #333;
}

.delete-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #E53935;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #ec6666;
}

.city-details-container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.category {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}

.category h3 {
    cursor: pointer;
}

.category .hotel-section,
.category .flight-section,
.category .vehicle-section,
.category .itinerary-section {
    display: none; /* Initially hidden */
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

