html{
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-image: url('../images/desktop.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.joti-one-regular {
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sidebar {
    width: 250px;
    min-height: calc(90vh - 40px);
    background-color: #ffffff96;
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: "Joti One", serif; 
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    flex-grow: 1;
}

.sidebar li {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 20px;
}

.sidebar li img {
    width: 26px; 
    height: 26px; 
    margin-right: 15px; 
    vertical-align: middle; 
}

.sidebar li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.sidebar li:hover {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.sidebar li.active {
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.sidebar li.active a {
    color: #FFFFFF;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    font-family: "Joti One", serif; 
    font-size: 20px;
}

.admin-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-profile img.profile-pic {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; 
}

.admin-profile p {
    font-weight: bold;
    color: #333;
    margin: 0;
}

.main-content {
    margin-left: 300px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Joti One", serif; 
    font-size: 20px;
}

.header-left {
    display: block; 
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Joti One", serif; 
}

.user-wrapper {
    color: #282828;
    font-weight: bold;
    display: flex;
    align-items: center; 
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    margin-left: 10px;
    
}

.logout-link span {
    margin-left: 5px; 
    font-size: 20px; 
    font-family: "Joti One", serif; 
}

.logout-icon {
    width: 24px; 
    height: 24px; 
    margin-left: 5px; 
    vertical-align: middle;
}
.report-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.search-box {
    margin-right: 20px;
}

.search-box input {
    padding: 10px;
    width: 200px; 
    border-radius: 15px;
    margin-right: 10px; 
    border: none;
    background-color: #FFF;
}

.user-details {
    background-color: #ffffffc3;
    padding: 20px; 
    border-radius: 10px;
    width: 48%; 
    border: 1px solid #ccc;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Joti One", serif; 
    font-size: 20px;
}

th, td {
    padding: 10px 15px; 
    text-align: center;
    font-family: "Joti One", serif; 
}

th {
    background-color: #b3b2b2d2;
    font-weight: bold;
    border-bottom: 1px solid #ddd; 
}

.user-details th {
    background-color: #ffffffb3;
    color: #000000;
    font-family: "Joti One", serif; 
}

.user-details h1{
    font-family: "Joti One", serif; 
}

td {
    border-bottom: 1px solid #ddd; 
}

tr:last-child td {
    border-bottom: none; 
}

.fa {
    background: none; 
    border: none; 
    cursor: pointer; 
    font-size: 30px; 
}

.fa-check {
    color: green; 
}

.fa-close {
    color: red; 
    transition: background-color 0.3s; 
}

.fa-check:hover {
    background-color: darkgreen;
    color: white; 
}

.fa-close:hover {
    background-color: darkred; 
    color: white; 
}

.approved {
    color: green;
    font-weight: bold;
}

.unapproved {
    color: rgb(0, 13, 255);
    font-weight: bold;
}

.rejected {
    color: red;
    font-weight: bold;
}

button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    font-size: 24px;
}

button:focus {
    outline: none; 
}