body {
    font-family: Arial, sans-serif;
    background-color: #E8E8E8;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 280px;
    min-height: calc(90vh - 40px);
    background-color: #FFFFFF;
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

    .sidebar ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        flex-grow: 1;
        margin-top: 30px;
    }

    .sidebar li {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        color: #333333;
        font-size: 17px;
    }

        .sidebar li img {
            width: 26px; 
            height: 26px; 
            margin-right: 15px; 
            vertical-align: middle; 
        }

        .sidebar li a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center
               
        }

        .sidebar li:hover {
            background-color: #E8E8E8;
            padding: 10px;
            border-radius: 10px;
        }

        .sidebar li.active {
            background-color: black;
            color: #FFFFFF;
            padding: 10px;
            border-radius: 10px;
        }

        .sidebar li.active a {
            color: #FFFFFF;
        }

        .sidebar-header {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 30px;
            padding: 20px;
        }

        .sidebar-header h2 {
            margin: 0; 
            text-align: center; 
            
        }

.main-content {
    margin-left: 300px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: block; 
}

.header-right {
    display: flex;
    align-items: center;
}

.search-box {
    margin-right: 20px;
}


.search-box input {
    padding: 10px;
    width: 200px; 
    border-radius: 15px;
    margin-right: 10px; 
    border: none;
    background-color: #FFF;
}

.user-wrapper {
    color: #282828;
    font-weight: bold;
    display: flex;
    align-items: center; 
}

.logout-icon {
    width: 24px; 
    height: 24px; 
    margin-left: 5px; 
    vertical-align: middle;
}


/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #000000;
    -webkit-text-fill-color: white;

}

/* Status styling */
.status.verified {
    color: green;
}

.status.unverified {
    color: red;
}

.btn-sm {
    font-size: 14px;
    color: green;
}

.btn-sm:hover {
    color: darkgreen;
}